INFO 2950 - FINAL PROJECT (Avni, Aryana, and Ishneet)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
aqi = pd.read_csv("daily_aqi_by_county_2018.csv")
pop = pd.read_csv("PopulationEstimates.csv")
inc = pd.read_csv("lapi1119.csv")

In [4]:
aqi.head()

,State Name,county Name,Date,AQI,Category,Defining Parameter,Number of Sites Reporting
0,Alabama,Baldwin,1/2/18,32,Good,PM2.5,1
1,Alabama,Baldwin,1/5/18,34,Good,PM2.5,1
2,Alabama,Baldwin,1/8/18,15,Good,PM2.5,1
3,Alabama,Baldwin,1/11/18,19,Good,PM2.5,1
4,Alabama,Baldwin,1/14/18,25,Good,PM2.5,1

In [5]:
pop.head()

,"Population estimates for the U.S., States, and counties, 2010-18 (see the second tab in this workbook for variable name descriptions)",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147,Unnamed: 148
0,These data were posted to the ERS website (at ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,FIPS,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,...,R_DOMESTIC_MIG_2017,R_DOMESTIC_MIG_2018,R_NET_MIG_2011,R_NET_MIG_2012,R_NET_MIG_2013,R_NET_MIG_2014,R_NET_MIG_2015,R_NET_MIG_2016,R_NET_MIG_2017,R_NET_MIG_2018
2,00000,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01000,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138",...,0.4,1.2,0.5,1.2,1.6,0.6,0.6,0.8,1.1,1.9
4,01001,AL,Autauga County,2,2,2,2,0,"54,571","54,574",...,1.1,0.7,6.0,-6.1,-3.9,2.0,-1.9,5.3,1.0,0.6

In [6]:
inc.head()

,"Table 1. Per Capita Personal Income by County, 2016 - 2018",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,Per capita personal income1,NaN,NaN,NaN,Percent change from preceding period,NaN,NaN
1,NaN,Dollars,NaN,NaN,Rank in State,Percent change,NaN,Rank in State
2,NaN,2016,2017,2018,2018,2017,2018.0,2018
3,United States,"49,870","51,885","54,446",--,4.0,4.9,--
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN